S3method(coef,VowpalWabbit)
S3method(predict,VowpalWabbit)
export(VW)
export(cacheVW)
export(checkVW)
export(constructVWcall)
export(update.VowpalWabbit)
export(vwControl)
export(vwHelp)
export(writeVWfile)
